<?xml version="1.0" encoding="UTF-8" ?>  

<!DOCTYPE configuration  
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="multipleResultSetsEnabled" value="true" />
	</settings>

	<typeAliases>
		<!-- parameter class -->
		<typeAlias alias="QnaPostParam" type="com.runtime6.web.example.model.dto.QnaPostParam" />
		<typeAlias alias="QnaPost" type="com.runtime6.web.example.model.dto.QnaPost" />
		<typeAlias alias="JoinParam" type="com.runtime6.web.example.model.dto.JoinParam" />
		<typeAlias alias="Join" type="com.runtime6.web.example.model.dto.Join" />
		<typeAlias alias="BusinessParam" type="com.runtime6.web.example.model.dto.BusinessParam" />
		<typeAlias alias="Business" type="com.runtime6.web.example.model.dto.Business" />
		<typeAlias alias="Basket" type="com.runtime6.web.example.model.dto.Basket" />
		<typeAlias alias="BasketParam" type="com.runtime6.web.example.model.dto.BasketParam" />
		<typeAlias alias="FB_PostParam" type="com.runtime6.web.example.model.dto.FB_PostParam" />
		<typeAlias alias="PostParam" type="com.runtime6.web.example.model.dto.PostParam" />
		<typeAlias alias="CommentParam" type="com.runtime6.web.example.model.dto.CommentParam" />
		<typeAlias alias="BCommentParam" type="com.runtime6.web.example.model.dto.BCommentParam" />
		<!-- result Model -->
		<typeAlias alias="FB_Post" type="com.runtime6.web.example.model.dto.FB_Post" />
		<typeAlias alias="Post" type="com.runtime6.web.example.model.dto.Post" />
		<typeAlias alias="Comment" type="com.runtime6.web.example.model.dto.Comment" />
		<typeAlias alias="BComment" type="com.runtime6.web.example.model.dto.BComment" />
		
		<typeAlias alias="GroupMember" type="com.runtime6.web.common.mvc.model.dto.GroupMember" />
	</typeAliases>
</configuration>












